<html>
    <head>
        <title>Blog</title>
        <link rel="stylesheet" href="/static/css/stylesheet.css">
    </head>
    <body>
        <div  class="wrapper">
            <h1>Django Blog</h1>
            {% for item in posts %}
                <a href="{{ item.slug }}" id="clickable_title"><h3>{{ item.title }}</h3></a>
                <i>{{ item.date }}</i>
                <p id="text_cut">{{ item.text }}</p>
                <a href="{{ item.slug }}" id="reading_more"><b>Read more</b>
            {% endfor %}
        </div>
    </body>
</html>


<!--{% for key, value in posts.items|dictsort:"0.lower" %}
    <a href="{{ value.slug }}"><h3>{{ value.title }}</h3></a>
    <i>{{ value.date }}</i>
    <p id="text_cut">{{ value.text }}</p>
    {% endfor %}
-->
