* {
    font-family: sans-serif;
    background-color: #D8F6CE;
    text-decoration: none;
}

.blog_body {
    width: 650px;
    margin: 0 auto;
    text-align: justify;
}

.menu_list ul {
    text-decoration: none;
    list-style-type: none;
}

.menu_list a {
    color: #0B3B0B;
}

.menu_list strong {
    color: red;
}

#text_cut {
    white-space:nowrap;
    overflow:hidden;
    text-overflow: ellipsis;
    max-width: 80ch;
}

#reading_more {
    color: #0B3B0B;
    font-size: 12px;
    float: right;
    text-decoration: underline;
}

#back_to_menu {
    color: #0B3B0B;
    font-size: 12px;
    float: left;
    text-decoration: underline;
}

#picture {
    float: right;
    height: 100px;
}

h3 {
    color: #0B3B0B;
}

h2 {
    color: #0B3B0B;
}
