.wrapper {
    width: 650px;
    margin: 0 auto;
    font-family: sans-serif;
    font-size: 16px;
    text-align: justify;
    background-color: #D8F6CE
}

#text_cut {
    white-space:nowrap;
    overflow:hidden;
    text-overflow: ellipsis;
    max-width: 80ch;
}

#reading_more {
    color: #0B3B0B;
    font-size: 12px;
    float: right;
}
li {
    list-style: none;
}

h1 {
    color: #0B3B0B
}

h3 {
    color: #0B3B0B
}

a {
    text-decoration: none;
    color: #D8F6CE;
}

p {
    text-decoration: none;
    color:black;

}
